<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Organic Hub{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Organic Hub</h1>
        <nav>
            <a href="{% url 'home' %}">Trang chủ</a>
            <a href="{% url 'product_list' %}">Sản phẩm</a>
            
            {% if user.is_authenticated %}
                <a href="{% url 'cart' %}">Giỏ hàng</a>
                <a href="{% url 'orders' %}">Đơn hàng</a>
                <a href="{% url 'chat_list' %}">Chat</a>
                <a href="{% url 'profile' %}">Tài khoản</a>
                <a href="{% url 'logout' %}">Đăng xuất</a>
            {% else %}
                <a href="{% url 'login' %}">Đăng nhập</a>
                <a href="{% url 'register' %}">Đăng ký</a>
            {% endif %}
        </nav>
    </header>

    <main>

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- <p>&copy; Organic Hub.</p> -->
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>
